<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  <ul>
    <li><a href="/alunos">Cadastro de Aluno</a></li>
    <li><a href="/disciplinas">Cadastro de Disciplina</a></li>
    <li><a href="/solicitacoes">Gerenciamento de Solicitações</a></li>
  </ul>
</body>
</html>